body{
    font-size: 36px;
    font-family: Lato;
    background-color: cyan;
}
.file{
    margin:5px;
    background: #000;
    color: white;
    border: orange 2px solid;
    border-radius: 10px;
    height: 70px;
    transition: all 0.5s ease 0.5s;
}
#cardsWindow, #lootWindow, #playsWindow, #simWindow{
    width: 60%;
    display: block;
    float: left;
}
#cards{
    overflow: scroll;
}
#field{
    width: 35%;
    height: 700px;
    display: inline-block;
}
header{
    padding: 10px;
    text-align: center;
    font-size: 48px;
}
.card{
    margin: 10px;
    color: black;
    float: left;
    display: inline-grid;
    align-items: center;
    text-align: center;
    width:302px;
    height:401px;
    font-size: 36px;
    transition: opacity 0.3s;
}
.card > img{
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
}
.card > .cardName{
    font-size: 24px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
}
.card > .cardLeft{
    font-size: 20px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: left;
}
.card > .cardRight{
    font-size: 20px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: right;
}
.card > .cardOverall{
    font-size: 36px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
}
.card > .cardImgContainer{
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}
.card > .cardImgContainer > .cardImg {
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 100%;
}
.card > .cardMenu{
    
    margin-left: 8px;
    margin-top: 150px;
    height: 400px;
    width: 280px;
    background-color: #ffa251;
    z-index: 2;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 20px;
    border: white 3px dashed;
}
header:hover{
    cursor: pointer;
}
.openWindow{
    height: 700px;
    transition: all 0.5s;
}
.openField{
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
}
.closedField{
    opacity:0;
    overflow: scroll;
    transition: opacity 0.5s;
}
#test{
    width: 200px;
    height:200px;
    background: red;
    position: absolute;
    z-index: 2;
    left: 500px;
}
#openingAnimation{
    color: orange;
    font-size: 128px;
    font-family: Lato;
    position: fixed;
    z-index:5;
    right: 47%;
    top:47%;

}
#loot{
    justify-content: center;
    display: flex;
}