body{
    font-size: 36px;
    font-family: Lato;
    background-color: cyan;
}
.file{
    margin:5px;
    background: #000;
    color: white;
    border: orange 2px solid;
    border-radius: 10px;
    height: 70px;
    transition: all 0.5s ease 0.5s;
}
#cardsWindow, #lootWindow, #playsWindow, #simWindow{
    width: 60%;
    display: block;
    float: left;
}
#cards{
    overflow: scroll;
}
header{
    padding: 10px;
    text-align: center;
    font-size: 48px;
}
.card{
    margin: 10px;
    color: black;
    float: left;
    display: inline-grid;
    align-items: center;
    text-align: center;
    width:302px;
    height:401px;
    font-size: 36px;
    transition: opacity 0.3s;
}
.card > img{
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    display: block;
    margin-bottom:400px;
}
.card > .cardName{
    font-size: 24px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-bottom:480px;
}
.card > .cardLeft{
    font-size: 20px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: left;
    margin-bottom:310px;
}
.card > .cardRight{
    font-size: 20px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: right;
    margin-bottom:310px;
}
.card > .cardOverall{
    font-size: 36px;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    margin-bottom:130px;
}
.card > .cardImg {
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 640px;
}
.card > .cardMenu{
    display: none;
    margin-left: 8px;
    margin-top: 150px;
    height: 180px;
    width: 280px;
    background-color: #ffa251;
    z-index: 2;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 20px;
    border: white 3px solid;
    margin-bottom: 150px;
}
.card > .cardMenu > .buttonRemove, .card > .cardMenu > .buttonAdd{
    z-index:6;
    margin-top: 100px;
    font-size: 36px;
    padding: 10px;
}
.card > .cardMenu > .buttonAdd{
    margin-right: 25px;
    background-color: rgb(138, 205, 50);
    color: black;
}
.card > .cardMenu > .buttonRemove{
    background-color: rgb(255, 81, 0);
    color: white;
}
header:hover{
    cursor: pointer;
}
.openWindow{
    height: 700px;
    transition: all 0.5s;
}
.openField{
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
}
.closedField{
    opacity:0;
    overflow: scroll;
    transition: opacity 0.5s;
}
#test{
    width: 200px;
    height:200px;
    background: red;
    position: absolute;
    z-index: 2;
    left: 500px;
}
#openingAnimation{
    color: orange;
    font-size: 128px;
    font-family: Lato;
    position: fixed;
    z-index:5;
    right: 47%;
    top:47%;

}
#loot{
    justify-content: center;
    display: flex;
}
.slot{
    border-radius: 100%;
    background-color: white;
    border: black 2px solid;
    height:100px;
    width: 100px;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2px;
    display: block;
    cursor: pointer;
}
.slot > img{
    height:100px;
    width: 100px;
    z-index: 3px;
    border-radius: 100%;
}
#leftWing{
    margin-left: 70px;
    margin-top: 400px;
}
#centerPosition{
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
}
#rightWing{
    margin-left: 281px;
    margin-top: 400px;
}
#field{
    width: 35%;
    height: 700px;
    display: inline-grid;
    text-align: center;
    justify-content: center;
}
#popUpCardMessage{
    display: none;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height:145px;
    width: 400px;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 10px;
}
