body{
    font-size: 36px;
    font-family: Lato;
    background-color: cyan;
}
.file{
    margin:5px;
    background: #000;
    color: white;
    border: orange 2px solid;
    border-radius: 10px;
    height: 70px;
    transition: all 0.5s ease 0.5s;
}
#cardsWindow, #lootWindow, #playsWindow, #simWindow{
    width: 60%;
    display: block;
    float: left;
}
#cards{
    overflow: scroll;
}
#field{
    width: 35%;
    height: 700px;
    display: inline-block;
}
header{
    padding: 10px;
    text-align: center;
    font-size: 48px;
}
.card{
    margin: 10px;
    color: black;
    float: left;
    display: grid;
}
.card > img{
    position: absolute;
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
}
.card > .cardName{
    font-size: 24px;
    z-index: 4;
    grid-column-start: 40px;
    grid-row-start: 10px;
}
header:hover{
    cursor: pointer;
}
.openWindow{
    height: 700px;
    transition: all 0.5s;
}
.openField{
    opacity: 1;
    transition: opacity 0.5s ease 0.5s;
}
.closedField{
    opacity:0;
    overflow: scroll;
    transition: opacity 0.5s;
}
#SZTIchest{
    height: 200px;
    width: 200px;
    background: yellow;
    color: black;
    margin: auto;
}
#test{
    width: 200px;
    height:200px;
    background: red;
    position: absolute;
    z-index: 2;
    left: 500px;
}
#openingAnimation{
    color: orange;
    font-size: 128px;
    font-family: Lato;
    position: fixed;
    z-index:2;
    right: 47%;
    top:47%;

}